# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Data (não versionar dados)
backend/data.json

# Build
dist/
*.local

# Environment
.env
.env.local
